[Desktop Entry]
Type=Application
Name=PiChat
Exec=lxterminal -e '/home/admin/pichat/venv/bin/python /home/admin/pichat/chat_ai.py'
Icon=utilities-terminal
Terminal=false
